.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .footer {
    margin-top: 5em;
  }

  .content {
    padding: 20px;
  }

  td {
    padding: 5px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
