<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""/>
    </ion-buttons>
    <ion-title>{{ 'C_INFO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="title">
      <h2>Musician's Practicing Player</h2>
      <img src="assets/icon/favicon.png">
    </div>

    <table class="footer">
      <tr>
        <td>Author:</td>
        <td><a href="mailto:christian@o3tt3rli.com">christian@o3tt3rli.com</a></td>
      </tr>
      <tr>
        <td>Version:</td>
        <td>{{version}}</td>
      </tr>
    </table>
  </div>
</ion-content>
