 .slider {
    width: 100%;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
    -webkit-appearance: none;
    background: #d3d3d3;
    height: 35px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 35px;
      width: 3px;
      background: #f74bc9;
    }
  }
