<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{track?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [class.settings-visible]="showSettings"
        (click)="showSettings = !showSettings; $event.cancelBubble = true">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button [class.help-visible]="showHelp" (click)="showHelp = !showHelp">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #contentElement [class.show-help]="showHelp" scroll-y="false">
  <div class="main-content">
    <div class="tools">
      <ion-button [disabled]="playerNotReady" class="play-pause player-btn" (click)="playPause()">
        <ion-icon [name]="playPauseIcon"></ion-icon>
        <span class="key">space</span>
        <span class="help">{{'C_HELP_PLAY_PAUSE'|xlate}}</span>
        <div class="play-position">{{playPosition}}</div>
      </ion-button>
      <ion-button [disabled]="playerNotReady" class="seek-to-start player-btn" (click)="seekToStart()">
        <ion-icon name="play-skip-back"></ion-icon>
        <span class="key">return</span>
        <span class="help">{{'C_HELP_TO_START'|xlate}}</span>
      </ion-button>
      <ion-button [disabled]="playerNotReady" class="backward player-btn" mppmLongClick (mppmClick)="backwardForward(true)"
        (mppmClickLong)="backwardForwardLong(true)" (mppmClickEnd)="longClickEnd()">
        <ion-icon name="play-back"></ion-icon>
        <span class="key">left</span>
        <span class="help">{{'C_HELP_BACKWARD'|xlate}}</span>
      </ion-button>
      <ion-button [disabled]="playerNotReady" class="forward player-btn" mppmLongClick (mppmClick)="backwardForward(false)"
        (mppmClickLong)="backwardForwardLong(false)" (mppmClickEnd)="longClickEnd()">
        <ion-icon name="play-forward"></ion-icon>
        <span class="key">right</span>
        <span class="help">{{'C_HELP_FORWARD'|xlate}}</span>
      </ion-button>
      <div class="marker-tools">
        <ion-button class="marker-btn" [disabled]="noActiveMarker || playerNotReady" (click)="seekToActiveMarker()">
          <ion-icon name="play-skip-back"></ion-icon>
          <span class="key">backspace</span>
          <span class="help">{{'C_HELP_TO_MARKER'|xlate}}</span>
        </ion-button>
        <ion-button class="marker-btn" [disabled]="noActiveMarker || playerNotReady" mppmLongClick (mppmClick)="moveMarker(true)"
          (mppmClickLong)="moveMarkerLong(true)" (mppmClickEnd)="longClickEnd()">
          <ion-icon name="play-back"></ion-icon>
          <span class="key">up</span>
          <span class="help">{{'C_HELP_PLAY_MARKER_BACKWARD'|xlate}}</span>
        </ion-button>
        <ion-button class="marker-btn" [disabled]="noActiveMarker || playerNotReady" mppmLongClick (mppmClick)="moveMarker(false)"
          (mppmClickLong)="moveMarkerLong(false)" (mppmClickEnd)="longClickEnd()">
          <ion-icon name="play-forward"></ion-icon>
          <span class="key">down</span>
          <span class="help">{{'C_HELP_MARKER_FORWARD'|xlate}}</span>
        </ion-button>
        <ion-button [disabled]="isAtStart || playerNotReady" (click)="addMarker()">
          <ion-icon name="add"></ion-icon>
          <span class="key">a</span>
          <span class="help">{{'C_HELP_ADD_MARKER'|xlate}}</span>
        </ion-button>
      </div>
    </div>

    <div class="markers">
      <ion-button *ngFor="let marker of markers; let markerIndex = index" mppmLongClick
        (mppmClickLong)="presentActionSheet(markerIndex)" (mppmClick)="setActiveMarker(markerIndex)"
        [class.marker-active]="activeMarker===markerIndex">
        {{marker.value | marker}}
        <span class="marker-title">{{marker.title}}</span>
        <span class="key">{{markerIndex + 1}}</span>
      </ion-button>
    </div>

    <div class="spacer"></div>

    <ion-spinner *ngIf="playerNotReady" name="dots"></ion-spinner>

    <div [hidden]="!track.isFile" class="audio-player">
      <span>{{(playPositionNumber || 0)|marker}} / {{duration|marker}}</span>
      <mppm-audio [position]="playPositionNumber" (seek)="seekTo($event)" [duration]="duration"></mppm-audio>
    </div>

    <div [hidden]="track.isFile || actionSheetVisible">
      <div #ytplayer></div>
    </div>

    <div [hidden]="!showSettings" class="settings-backdrop" (click)="showSettings = false"></div>

    <div #settingsElement [hidden]="!showSettings" class="settings">
      <div class="card">
        <label (click)="resetVolume()">{{'C_VOLUME' | xlate}}</label>
        <span>{{volume|number:'1.2-2'}}</span>
        <ion-button mppmLongClick (mppmClickLong)="onVolumeLong(true)" (mppmClick)="onVolume(true)"
          (mppmClickEnd)="longClickEnd()">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button mppmLongClick (mppmClickLong)="onVolumeLong(false)" (mppmClick)="onVolume(false)"
          (mppmClickEnd)="longClickEnd()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="track.isFile" class="card">
        <label (click)="resetPitch()">Pitch</label>
        <span>{{pitch|number:'1.2-2'}}</span>
        <ion-button mppmLongClick (mppmClickLong)="onPitchLong(true)" (mppmClick)="onPitch(true)"
          (mppmClickEnd)="longClickEnd()">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button mppmLongClick (mppmClickLong)="onPitchLong(false)" (mppmClick)="onPitch(false)"
          (mppmClickEnd)="longClickEnd()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="track.isFile" class="card">
        <label (click)="resetTempo()">Tempo</label>
        <span>{{tempo|number:'1.2-2'}}</span>
        <ion-button mppmLongClick (mppmClickLong)="onTempoLong(true)" (mppmClick)="onTempo(true)"
          (mppmClickEnd)="longClickEnd()">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <ion-button mppmLongClick (mppmClickLong)="onTempoLong(false)" (mppmClick)="onTempo(false)"
          (mppmClickEnd)="longClickEnd()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>