<ion-header #header>
    <ion-toolbar>
        <ion-title>{{track?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-content">
        <div class="tools">
            <ion-button class="play-pause" (click)="playPause()">
                <ion-icon [name]="playPauseIcon"></ion-icon>
            </ion-button>
            <ion-button class="seek-to-start" (click)="seekToStart()">
                <ion-icon name="skip-backward"></ion-icon>
            </ion-button>
            <ion-button class="backward" (click)="backward()">
                <ion-icon name="rewind"></ion-icon>
            </ion-button>
            <ion-button class="forward" (click)="forward()">
                <ion-icon name="fastforward"></ion-icon>
            </ion-button>
            <div class="marker-tools">
                <ion-button color="success" [disabled]="noActiveMarker" (click)="seekToActiveMarker()">
                    <ion-icon name="skip-backward"></ion-icon>
                </ion-button>
                <ion-button color="success" [disabled]="noActiveMarker" (click)="moveMarker(true)">
                    <ion-icon name="rewind"></ion-icon>
                </ion-button>
                <ion-button color="success" [disabled]="noActiveMarker" (click)="moveMarker(false)">
                    <ion-icon name="fastforward"></ion-icon>
                </ion-button>
                <ion-button color="success" [disabled]="isAtStart" (click)="addMarker()">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </div>
        </div>

        <div class="markers">
            <ion-button *ngFor="let marker of markers; let markerIndex = index"
                        (touchstart)="mouse(markerIndex, true)"
                        (touchend)="mouse(markerIndex, false)"
                        (mousedown)="mouse(markerIndex, true)"
                        (mouseup)="mouse(markerIndex, false)"
                        [class.marker-active]="activeMarker===markerIndex"
                        [color]="activeMarker===markerIndex ? undefined : 'success'">
                {{marker.value | marker}}
                <span class="marker-title">{{marker.title}}</span></ion-button>
        </div>

        <div class="spacer"></div>

        <div #ytplayer></div>
    </div>
</ion-content>
