<ion-header>
    <ion-toolbar>
        <ion-title>{{ (trackIndex < 0 ? 'C_ADD_TRACK' : 'C_EDIT_TRACK') | xlate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="add-track-content">
        <ion-input clear-input [placeholder]="'C_NAME' | xlate" [(ngModel)]="track.name"></ion-input>
        <ion-input clear-input [placeholder]="'C_YT_OR_VIDEO_ID' | xlate" [(ngModel)]="track.videoUrl"></ion-input>
        <ion-icon name="search" (click)="ytSearch()"></ion-icon>
        <ion-icon name="download" [class.hidden]="!track.videoUrl" (click)="ytDownload(track.videoUrl)"></ion-icon>
        <ion-progress-bar class="progress" [class.hidden]="!downloading" type="indeterminate"></ion-progress-bar>

        <ion-button class="add" [disabled]="!track.name || (!track.videoUrl && !file)" (click)="addTrack()">
            {{ (trackIndex < 0 ? 'C_ADD' : 'C_SAVE') | xlate }}</ion-button>

        <div class="local-audio-file">
            <label>{{'C_LOCAL_AUDIO_FILE'|xlate}}</label>
            <input type="file" accept="audio/*" (change)="onFileChanged($event)">
        </div>

    </div>

</ion-content>