.add-track-content {
  padding: 16px;
  display: grid;
}


.video-url {
  display: flex;

  ion-icon {
    font-size: 25pt;
    color: #aaaaaa;
    position: relative;
    top: 5px;
    cursor: pointer;
  }
}
