.add-track-content {
  padding: 16px;
  display: grid;
  grid-template-columns: auto 35px;

  ion-input {
    grid-column: 1;
  }

  ion-input:nth-child(2) {
    color: #aaaaaa;
  }

  ion-icon {
    grid-column: 2;
    justify-self: end;
    font-size: 25pt;
    color: #aaaaaa;
    position: relative;
    top: -35px;
    cursor: pointer;
  }

  ion-button {
    grid-column: 1/3;
  }
}

.add {
  margin-top: 20px;
}


.local-audio-file {
  margin-top: 35px;
  font-size: smaller;

  label {
    display: block;
    padding-bottom: 4px;
  }
}
