:host.hidden {
  display: none;
}

.add-track-content {
  padding: 16px;
  display: grid;
  grid-template-columns: auto 35px;

  ion-input {
    grid-column: 1;
  }

  ion-input:nth-child(2) {
    color: #aaaaaa;
  }

  ion-icon {
    grid-column: 2;
    justify-self: end;
    font-size: 25pt;
    position: relative;
    top: -35px;
    cursor: pointer;
  }

  .progress {
    grid-column: 2;
    justify-self: end;
    position: relative;
    top: -35px;

    &.hidden {
      visibility: hidden;
    }
  }

  ion-icon[name="search"] {
    color: #aaaaaa;
  }

  ion-icon[name="download"] {
    position: relative;
    top: -37px;
    color: var(--ion-color-primary);
    cursor: pointer;

    &.hidden {
      visibility: hidden;
    }
  }

  ion-button {
    grid-column: 1/3;
  }
}

.add {
  margin-top: 20px;
}


.local-audio-file {
  margin-top: 35px;
  overflow: hidden;

  label {
    font-size: 18px;
    display: block;
    padding-bottom: 4px;
  }
}