@use "variables.scss" as vars;

ion-item-option {
  font-size: 15pt;
}

ion-fab {
  .menu-container {
    cursor: pointer;
    height: 56px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    left: -10px;

    ion-icon {
      width: 2em;
      height: 2em;
    }
  }

  ion-fab-button {
    position: relative;
    left: -10px;
    top: -80px;
  }
}

.menu {
  background-color: white;
  font-size: 24pt;
  flex: 1;
  position: relative;
  top: 10px;
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.file-lost {
  color: gray;
}

.pulse {
  animation-name: pulse-animation;
  animation-duration: 4000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.title {
  margin-top: 120px;
  text-align: center;
}

.add-track-info {
  margin-left: 60px;
  margin-top: -115px;
  position: absolute;
  white-space: nowrap;
}

.with-tracks {
  bottom: 50px;
}

.danger {
  background-color: transparent;
  color: red;
}

.edit {
  background-color: transparent;
  color: vars.$accent;
}

ion-item {
  --border-color: transparent;
}
