<ion-header>
    <ion-toolbar>
        <ion-searchbar [placeholder]="'C_SEARCH' | xlate" (ionInput)="onFilterChange($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let track of tracks" #it>

            <ion-item-options side="end">
                <ion-item-option (click)="editTrack(track, it)">
                    <ion-icon name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="deleteTrack(track)">
                    <ion-icon name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item routerLink="/track/{{track.index}}">
                <ion-label>{{track.name}}</ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/add-track/-1">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
